modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Bot Only"
author = 43133977
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[[workflows.workflow]]
name = "flask db init"
mode = "sequential"
author = 43133977

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask db init"

[[workflows.workflow]]
name = "export FLASK_APP=\"app:create_app\""
mode = "sequential"
author = 43133977

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export FLASK_APP=\"app:create_app\""

[[workflows.workflow]]
name = "flask db migrate -m \"initial migration\""
mode = "sequential"
author = 43133977

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask db migrate -m \"initial migration\""

[[workflows.workflow]]
name = "flask db upgrade"
mode = "sequential"
author = 43133977

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask db upgrade"

[[workflows.workflow]]
name = "export FLASK_APP=app.py "
mode = "sequential"
author = 43133977

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export FLASK_APP=app.py"

[[ports]]
localPort = 5000
externalPort = 80
